<!--

    JBoss, Home of Professional Open Source
    Copyright Red Hat, Inc., and individual contributors.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    	http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <!-- Digest authentication filter -->
    <filter>
        <filter-name>DigestAuthenticationFilter</filter-name>
        <filter-class>org.picketlink.authentication.web.AuthenticationFilter</filter-class>
        <init-param>
            <param-name>authType</param-name>
            <param-value>DIGEST</param-value>
        </init-param>
        <init-param>
            <param-name>realmName</param-name>
            <param-value>default</param-value>
        </init-param>
        <init-param>
            <param-name>unprotectedMethods</param-name>
            <param-value>OPTIONS</param-value>
        </init-param>
    </filter>

    <!-- Enable Basic authentication filter -->
    <filter>
        <filter-name>BasicAuthenticationFilter</filter-name>
        <filter-class>org.picketlink.authentication.web.AuthenticationFilter</filter-class>
        <init-param>
            <param-name>authType</param-name>
            <param-value>BASIC</param-value>
        </init-param>
    </filter>

    <!-- Digest authentication filter mapping -->
    <filter-mapping>
        <filter-name>DigestAuthenticationFilter</filter-name>
        <url-pattern>/rest/grocery/bacons/*</url-pattern>
    </filter-mapping>

    <!-- Enable Basic authentication filter mapping -->
    <filter-mapping>
        <filter-name>BasicAuthenticationFilter</filter-name>
        <url-pattern>/rest/grocery/beers/*</url-pattern>
    </filter-mapping>


    <security-constraint>
        <web-resource-collection>
            <url-pattern>/rest/portal/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>KEYCLOAK</auth-method>
        <realm-name>product-inventory</realm-name>
    </login-config>

    <security-role>
        <role-name>user</role-name>
    </security-role>

</web-app>
